@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background: rgb(245, 245, 245);
}
button:hover{
    color: rgb(33, 175, 175);
    background-color: azure;
    cursor: pointer;
}
#nav{
    display: flex;
    font-family: "Fira Sans";
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
    margin: 0;
}
#nav-title{
    font-size: 32px;
    font-weight: 700px;
}
#primary-btn{
    border-radius: 10px;
    border: 2px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: bolder;
    padding: 15px 30px;
    background-color: transparent;
}
#primary-btn:hover{
    color: azure;
    background-color: rgb(0, 106, 80);
    cursor: pointer;
}
.banner{
    font-family: "Fira Sans";
    margin: 20px 160px 80px 160px;
    background-color: rgb(198, 228, 214);
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 80px 0px;
    justify-content: space-around;
}
.banner .banner-content{
    display: flex;
    flex-direction: column;
}
.banner .banner-content .banner-title{
    opacity: 50%;
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
}
.banner .banner-content .banner-subtitle{
    width: 612px;
    font-weight: 700;
    font-size: 56px;
    margin: 16px 0px;
    padding-bottom: 24px;
}
.banner .banner-content .banner-btn{
    border: none;
    background-color: rgb(0, 106, 80);
    border-radius: 10px;
    padding: 17px 34px;
    text-align: left;
    max-width: 270px;
    color: aliceblue;
    font-size: 15px;
    font-weight: bolder;
}
.banner .banner-content .banner-btn:hover{
    color: rgb(12, 145, 145);
    background-color: azure;
    cursor: pointer;
}
.p-o-b{
    margin: 80px 160px 32px 160px;
}
.card{
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: rgb(255, 255, 255);
    padding: 32px;
}
.v-o-f{
    margin: 80px 160px 32px 160px;
}
.section-title{
    font-family: 'Fira Sans';
    font-size: 40px;
    font-weight: 700;
    margin: 24px 0px;
}
.section-description{
    font-family: 'Fira Sans';
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 32px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.card-title{
    font-family: 'Fira Sans';
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0px;
}
.card-description{
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.card-1{
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.card-2{
    border-radius: 16px;
    background-color: rgb(198, 228, 214);
    padding: 32px;
}
.card-3{
    border-radius: 16px;
    background-color: rgb(247, 235, 207);
    padding: 32px;
}
.btn-1{
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    margin: 24px 0px;
    padding: 11px 20px;
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: 600;
}
.btn-2{
    border: none;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    margin: 24px 0px;
    padding: 11px 20px;
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: 600;
}
.btn-3{
    border: none;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    margin: 24px 0px;
    padding: 11px 20px;
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: 600;
}
.quote-container{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 34px;
    padding: 48px 24px;
    margin: 32px 0px 80px 0px;
}
.quote{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    margin: 12px 0px;
}
.quote-name{
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 20px;
    margin: 4px 0px;
}
.quote-info{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    margin: 4px 0px;
}
.recent-news{
    margin: 80px 160px 32px 160px;
}
.reports{
    display: flex;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin: 24px 0px;
    gap: 24px;
}
.satelite-img{
    border-radius: 24px;
    margin: 0px 32px;
}
.report-titles{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    margin: 12px 0px;
}
.date-time{
    display: flex;
}
.date{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    margin: 12px 12px 0px 0px;
}
.time{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0px 0px 0px;
    padding: 0px;
}
.report-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    padding: 0px;
}
.btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px 13px 26px;
    border: none;
    margin: 8px;
}
.reports-2{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin: 24px 0px;
    gap: 24px;
}
.donation{
    margin: 80px 160px 32px 160px;
}
.donation .section-title{
    text-align: center;
}
.donation .section-description{
    text-align: center;
    padding: 12px 88px;
}
.all-tk-btn{
    display: flex;
    justify-content: space-evenly;
}
.taka-btn{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    gap: 24;
    margin: 0px;
}
.donate-input{
    margin: 32px 0px;
    display: flex;
    justify-content: center;
}
.donate-i{
    background: rgb(255, 255, 255);
    width: 1032px;
    height: 64px;
    text-align: center;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
}
.donation .btn{
    display: flex;
    justify-self: center;
}
.newsletter{
    display: flex;
    flex-direction: column;
    margin: 80px 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}
.newsletter .section-title{
    text-align: center;
}
.newsletter .section-description{
    text-align: center;
    margin: 16px 64px 24px 64px;
}
.input{
    display: flex;
    justify-content: center;
}
.email{
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    border: none;
    width: 600px;
    height: 55px;
    padding: 0px 40px;
}
.s-btn{
    border-radius: 0px 8px 8px 0px;
    border: none;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
}
.newsletter-div{
    padding: 80px 100px;
}
.footer-title{
    display: flex;
    justify-content: center;
}
.footer-img{
    display: flex;
    justify-content: center;
    gap: 23px;
    padding: 32px 0px;
}
.footer-section{
    padding: 50px 160px;
}